{% extends 'layout.html' %}

{% block content %}
<div class="py-5"></div>
<h1 class="sub-page-header">Living Room Appliances</h1>
<div class="py-2"></div>
<div class="row">
    {% for item in living_appliances %}
    <div class="col-sm-4 imageHolder"><img src="{{ item.display_image }}" alt="Something is wrong">
        <h2>{{item.name}}</h2>
        <h3>${{item.price}}</h3>
        <h4>Quantity: {{item.quantity}}</h4>
        <form action="">
            <button class="cart-button">Add to Cart</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}