{% extends 'layout.html' %}

{% block head-content %}
{% load static %}
<script src="{% static 'javascript/purchase.js' %}" defer></script> 
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}


{% block content %}
<div class="py-5"></div>
<h1 class="sub-page-header">Living Room Appliances</h1>
<div class="py-2"></div>
<div class="row">
    {% for item in living_appliances %}
    <div class="col-sm-4 imageHolder"><img src="{{ item.display_image }}" alt="Something is wrong">
        <h2>{{item.name}}</h2>
        <h3>${{item.price}}</h3>
        <form>
            <button name="{{item.name}}" class="cart-button" onclick="getName(event)">Add to Cart</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}